/composer.lock
/config.php
/cards.xml
/vendor/
php-cs-fixer.config
config.cron
cache
/workbench
/carddav2fb.wiki
dump.txt
FETCH_HEAD
master
t-online.php
test.php
wolf_cfg.php
.vscode/launch.json
.vscode/task.json
/lib/phonebook.xml
/lib/gs_phonebook.xml
/lib/jfritz.phonebook.xml
/lib/LocalPhonebook.xml
/assets/carddav2fb.pptx
